@import '../../../styles/variables';

.dCard {
  background-color: $white;
  border-radius: 8px;
  border: 0.5px solid lightgray;
  max-width: 100%;
  display: grid;
  gap: $spacing-024;
  margin-bottom: 6px;

  &.online {
    :hover {
      background-color: $blue;
      border-radius: 8px;
      color: white;
    }
  }

  .top {
    display: grid;
    grid-template-columns: 1fr 8fr 7fr;
    align-items: center;
    column-gap: $spacing-012;
    position: relative;
    padding: 4px;

    .name {
      font-weight: $font-weight-demibold;
      font-size: $font-large;
      width: 1%;
    }

    .icon {
      background-color: $black;
      color: $white;
      height: 15px;
      width: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 999px;
      font-size: $font-small;
      font-weight: $font-weight-demibold;

      &.active,
      &.online {
        background: $green;
      }

      &.offline {
        background: $red;
      }
    }

    .route {
      position: absolute;
      right: 0px;
      margin-right: 4px;
    }
  }
}
