@import 'src/styles/variables';

.data-item {
  .top {
    .title {
      font-size: 10px;
    }
  }
  .bottom {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: $spacing-004;
    .icon {
      font-size: 24px;
      color: $blue;
    }
    .dataText {
      display: inline-block;
      font-weight: 500;
      vertical-align: middle;
      line-height: 30px;
    }
  }
}
