@import 'src/styles/variables';

.button {
  background-color: $blue;
  border: none;
  color: $blue;
  background-color: white;
  padding: $spacing-004 $spacing-024;
  border: 2px solid $blue;
  border-radius: $border-radius-10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.fullwidth {
    width: 100%;
  }

  &.red {
    background-color: $red;
  }

  &.outlined-blue {
    border: 1px solid $blue;
    color: $blue;
    background-color: $white;
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &.add-mission {
    padding: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  }
}
